.navbar{
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo{
    color:white;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
}